/* Flexing Main */
div.flexingmain {
	width: 100%;
	min-height: 350px;
	padding-bottom: 30px;
	text-align: center;	
	background-color: rgba(21,28,38,0.5);
	font-family: 'Open Sans', sans-serif;
    line-height: 125%;
}
div.flexingmain p {
    line-height: 150%;
}
div.flexingmain h1 {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	padding: 6px;
	padding-top: 30px;
	line-height: 115%;
	font-family: 'Open Sans', sans-serif;
	color: rgba(240,240,255,0.9);
}
div.flexingmain h2 {
	font-size: 30px;
	text-align: center;
	padding: 4px;
	padding-top: 12px;
	padding-bottom: 30px;
	line-height: 115%;
	font-family: 'Open Sans', sans-serif;
	color: rgba(240,240,255,0.7);
}
@media (max-width: 506px) {
	div.flexingmain h2 {
		display: none;
	}
}
div.carheading {
	min-height: 50px;
}
ul.carousel-indicators li {
	width: 30px;
	height: 3px;
	margin-left: 5px;
	margin-right: 5px;
}
